<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>creatures</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body>
	<navbar th:insert="fragments/general.html :: navbar"> </navbar>

	<hr>

	<main>
		<div class="container ml-3 mt-4">
			<div class="row">
				<h2>Creature details</h2>
				<div class="col-4 ">
					<img class="card-img-top " style="aspect-ratio: 16/9;" th:src="${creature.avatar}" />

				</div>
				<div class="col-8">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="${creature.name}"></h5>
							<p class="card-text" th:utext="${creature.abilities}"></p>
						</div>
						<div class="card-actions p-2 mx-auto">
							<a th:href="@{'/creatures/edit/'+${creature.id}}" class="btn btn-secondary">Editar</a>
							<a th:href="@{'/creatures/delete/'+${creature.id}}" class="btn btn-danger">Borrar</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	</main>

	<footer th:insert="fragments/general.html :: footer">asdfddd </footer>
</body>

</html>